.float-input {
    position: relative;
    margin: 10px;
    display: flex;
    flex-flow: column-reverse;
    font-size: 12px;
}

.float-input>input {
    border: none;
    padding: 0;
    outline: 0;
    padding: 7px;
    border: 1px solid black;
    border-radius: 3px;
}

.float-input>input::-webkit-input-placeholder {
    opacity: 0;
}

.float-input>input::-moz-placeholder {
    opacity: 0;
}

.float-input>input:-ms-input-placeholder {
    opacity: 0;
}

.float-input>input:-moz-placeholder {
    opacity: 0;
}

.float-input>input:focus::-webkit-input-placeholder {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.float-input>input:focus::-moz-placeholder {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.float-input>input:focus:-ms-input-placeholder {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.float-input>input:focus:-moz-placeholder {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.float-input>label {
    pointer-events: none;
    text-align: left;
    position: absolute;
    top: 7px;
    bottom: 7px;
    padding: 0 2px;
    margin-left: 5px;
    transition: all 0.1s ease-out;
    opacity: 0.5;
}

.float-input>input:not(:placeholder-shown)+label, .float-input>input:focus+label {
    top: -8px;
    bottom: unset;
    font-size: 10px;
    background-color: white;
    opacity: 1;
}